* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: 'Roboto', sans-serif;
}

img {
  max-width: 100%;
}

nav {
  width: 100%;
}

select {
  background-color: #dedede;
  border-radius: 16px;
  height: 32px;
  padding: 0 12px;
  border: none;
}

#nav-top {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
}

#nav-top img {
  max-width: 350px;
}

#main-menu {
  width: 100%;
}

nav ul {
  list-style: none;
}

nav ul li {
  display: inline-block;
  padding: 0 1rem;
}

nav ul li:last-child{
  padding-left: 0;
}

#main-menu ul {
  width: 100%;
  display: flex;
  justify-content: space-between;
  padding: 0 1rem;
}

#main-menu ul li:last-child {
  margin-left: auto;
}

#login form {
  padding: 1rem;
}

footer {
  width: 100%;
  padding: 0 1rem;
  border-top: 1px #000 solid;
}

.mdl-card__media img {
  margin: auto;
  display: block;
}

.review-card {
  width: 100%;
  min-height: 150px;
}
.review-card .mdl-card__title {
  display: flex;
  justify-content: space-between;
}

.review-card .mdl-card__actions {
  text-align: right;
}

.review-form {
  padding-top: 1rem;
}

.review-form textarea {
  width: 100%;
  height: 15rem;
}

#product-tabs {
  max-height: 60vh;
  overflow: scroll;
}

.below-tabs {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

#product .mdl-tabs__tab {
  width: 50%;
}

div.stars {
 width: 270px;
 display: inline-block;
}

input.star { display: none; }

label.star {
 float: right;
 padding: 10px;
 font-size: 36px;
 color: #444;
 transition: all .2s;
}

input.star:checked ~ label.star:before {
 content: '\f005';
 color: #FD4;
 transition: all .25s;
}

input.star-5:check2ed ~ label.star:before {
 color: #FE7;
 text-shadow: 0 0 20px #952;
}

input.star-1:checked ~ label.star:before { color: #F62; }

label.star:hover { transform: rotate(-15deg) scale(1.3); }

label.star:before {
  content: '\f006';
  font-family: FontAwesome;
}

.clearfix:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: " ";
  clear: both;
  height: 0;
  }

.group:after {
  content: "";
  display: table;
  clear: both;
}
